* {
    box-sizing: border-box;
}

:root {
    --deepsky: #2a3385;
    --digitalGreen: #b4d343;
    --whitecolor: #fff;
    --fontWeightSix: 600;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.top {
    width: 350px;
    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.top .top-wrapper {
    position: relative;
    display: flex;
    height: 30px;
    justify-content: center;
    gap: 1.5rem;
    background: #3c65b0;
}

.top .top-wrapper .item1 a {
    color: var(--whitecolor);
    font-size: 13px;
}

.logo img {
    height: 95px;
    border-radius: 0rem 0 1rem 1rem;
}

.top .top-wrapper .item1 {
    padding: 5px 0;
}

.hero-section {
    background-image: linear-gradient(to top left, #204397 0%, #293c7c 45%, rgb(100 142 206) 72%);
    max-width: 100%;
    margin: 0px 20px;
    border-radius: 2rem;
}

.hero-section .hero-wrapper {
    padding: 6rem 0rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: center;
}

.nav-menu .nav {
    gap: 20px;
}

.nav-menu .nav .mr-10 {
    margin-right: 10rem;
}

.nav-menu .nav li {
    padding-top: 20px;
}

.nav-menu .nav li a {
    color: #fff;
}

.nav-menu .nav li a:hover {
    font-weight: 500;
    color: var(--digitalGreen);
}

.nav-menu .nav li .active {
    font-weight: var(--fontWeightSix);
}

.hero-section .hero-wrapper .image-container {

    margin: auto;
    display: flex;
    align-items: center;
}

.hero-section .hero-wrapper .image-container {
    font-size: 6rem;
    cursor: pointer;
    color: #ffffff;
    /* filter: opacity(0.4); */
}

.product-ban-cont h3 {
    font-size: 3.2rem;
    font-weight: var(--fontWeightSix);
    color: #fff;
}

.product-ban-cont span {
    color: var(--digitalGreen);
}

.product-ban-cont img {
    border-radius: 4rem;
    max-width: 350px;
    width: 350px;
    box-shadow: 0px 15px 10px -15px #111;
}

.image-container .text-left {
    text-align: end;
}

.trigger-image {
    transition: all 0.5s ease;
    font-weight: 900;
    filter: opacity(0.4) !important;
}

.active {
    color: var(--digitalGreen);
    filter: opacity(1) !important;
}

.active:hover {
    color: var(--digitalGreen);
}

.image-visible img {
    width: 250px;
    border-radius: 3rem;
}

.image-visible {
    display: none;
}

.show-content {
    display: block;
}

.plan-wrapper {
    text-align: center;
    padding: 3rem 5rem;
    background: #DBF2FD;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 1100px;
    width: 1001px;
    margin: auto;
    border-radius: 2rem;
    padding-bottom: 5rem;
}

.top-wrapper .title h4 {
    font-size: 33px;
    font-weight: 800;
    color: var(--deepsky);
}

.mt-60 {
    margin-top: 60px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.offer-section .offer-wrapper,
.graph-wrapper,
.price-grid {
    max-width: 900px;
    width: 800px;
    margin: auto;
}

.offer-wrapper .offer-box {
    background: #3c65b0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 2rem;
    padding: 3rem 2rem;
    color: var(--whitecolor);
    cursor: pointer;
    transition: .3s;
}

#hero-carousel .owl-nav {
    font-size: 54px;
    color: #fff;
}

#hero-carousel .owl-next {
    position: absolute;
    right: 12px;
    bottom: 153px;
}

#hero-carousel .owl-prev {
    left: 10px;
    position: absolute;
    bottom: 153px;
}


.offer-box .offer-bold-title {
    margin-top: 4rem;
}

.offer-box .offer-bold-title h4 {
    color: #a9c63f;
    font-weight: var(--fontWeightSix);
    margin-bottom: 1rem;
}

.offer-bold-title .offer-btn {
    background: #a9c63f;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: bold;
    font-weight: col;
    color: #3c65b0;
}

.offer-box .offer-title b {
    color: #a9c63f;
}

.offer-wrapper .offer-box:hover {
    background: var(--digitalGreen);
    color: var(--deepsky);
}

.offer-box:hover .offer-bold-title h4 {
    color: #3c65b0;
}

.offer-box:hover .offer-btn {
    color: var(--digitalGreen);
    background: #3c65b0;
}

.offer-box:hover .offer-title b {
    color: #3c65b0;
}

.plan-wrapper .text-content p {
    color: #3c65b0;
    font-size: 15px;
}

.plan-wrapper .ab-sporta-tags ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.plan-wrapper .ab-sporta-tags ul li {
    font-size: 28px;
    font-weight: 700;
}

.plan-wrapper .ab-sporta-tags ul li:not(:last-child)::after {
    content: '';
    height: 1.1px;
    width: 24px;
    position: absolute;
    top: 21px;
    background: #3c65b0;
    transform: rotate(270deg);
}

.plan-wrapper .ab-sporta-tags ul li:nth-last-child() {
    background-color: none;
}

.ss-color {
    color: #01528a !important;
}

.ars-color {
    color: #29338e !important;
}

.graph-wrapper {
    text-align: center;
    padding: 3rem 5rem;
    background: #bbe5f9;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2rem;
    margin-top: -65px;
}

.graph-wrapper .gp-colomns {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.graph-wrapper .gp-colomns .range-column {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.graph-wrapper .gp-colomns .range-column .range-counting span {
    font-weight: 700;
    color: #29338e;
}

.range-status {
    height: 70px;
    background: #29338e;
}

.range-status2 {
    height: 90px;
    background: #99b9e0;
}

.range-status3 {
    height: 110px;
    background: #fee1ae;
}

.range-status4 {
    height: 130px;
    background: #d5bfdc;
}

.range-status5 {
    height: 150px;
    background: #f8b9bf;
}

.graph-wrapper .gp-colomns .range-column .logos img {
    width: 50px;
}

.hero-service-section {
    background-image: radial-gradient(circle, #183667 0%, #5c87c4 100%);
    height: 450px;
    max-width: 100%;
    margin: 0px 10px;
    border-radius: 2rem;
}

.service-section .service-grid {
    display: flex;
    /* grid-template-columns: auto auto auto auto; */
    gap: 0.5rem;
}

.service-section .service-grid .service-box {
    width: 25%;
    background: #ddf1fb;
    padding: 2rem 3rem;
    border-radius: 2rem;
    position: relative;
}

.service-section .service-grid .service-box .box-badge {
    position: absolute;
    top: -23px;
    right: 25px;
}

.service-section .service-grid .service-box .box-badge img {
    width: 55px;
}

.service-section .service-grid .service-box .box-title h4 {
    color: var(--deepsky);
    font-size: 18px;
    font-weight: 700;
}

.service-section .service-grid .service-box .box-title p {
    font-weight: var(--fontWeightSix);
}

.title {
    color: var(--deepsky);
    font-weight: var(--fontWeightSix);
}

.offcanvas.offcanvas-start {
    border-right: 0 !important;
}

.prices-section .price-grid .price-box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-image: radial-gradient(circle farthest-corner at 22.4% 21.7%, #3c65b0 0%, rgba(2, 83, 185, 1));
    border-radius: 2rem;
    padding: 2rem 2.9rem;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.prices-section .price-grid .price-box:hover {
    background: linear-gradient(45deg, #183667, #183667);
}

.prices-section .price-grid .price-box .p-box-title h4 {
    font-size: 2.5rem;
    font-weight: var(--fontWeightSix);
    color: var(--digitalGreen);
}

.term-title h5 {
    color: var(--deepsky);
    font-weight: var(--fontWeightSix);
}

.term-title .view-btn {
    background: var(--deepsky);
    display: inline-block;
    padding: 7px 25px;
    color: var(--whitecolor);
    width: 184px;
    border-radius: 0.7rem;
    transition: .5s;
}

.term-title .view-btn:hover {
    transform: scale(1.1);
}

.p-box-points ul li {
    font-size: 18px;
}

.p-box-points ul {
    border-top: 1px solid var(--digitalGreen);
    border-bottom: 1px solid var(--digitalGreen);
    padding: 7px 0;
}

.buy-button {
    background: var(--digitalGreen);
    color: #183665;
    font-size: 20px;
    font-weight: var(--fontWeightSix);
    width: 140px;
    display: flex;
    justify-content: center;
    height: 52px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.p-bottom-pr h2 {
    font-weight: var(--fontWeightSix);
    font-size: 4rem;
}

.p-bottom-pr small {
    font-size: 2rem;
}

.footer {
    background-color: #29338e;
    margin-top: 3rem;
}

.footer .footer-warapper {
    text-align: center;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer .footer-warapper .footer-links ul,
.footer-contacts ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.footer .footer-warapper .footer-links ul li a,
.footer-contacts ul li a {
    color: var(--whitecolor);
    font-size: 12px;
}

.footer-bottom {
    background: #6ba0d5;
    text-align: center;
    padding: 9px;
    color: var(--deepsky);
    font-weight: 900;
    font-size: 13px;
}

.footer-bottom p {
    margin: 0;
}

@media (min-width: 1200px) {
    .grid-container {
        max-width: 1140px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .plan-wrapper {
        width: 100%;
    }

}

@media only screen and (max-width: 992px) {
    .hero-section {
        margin: 0;
        border-radius: 0;
    }
}

@media only screen and (max-width: 992px) {
    .top {
        width: auto !important;
    }

    .offer-section .offer-wrapper {
        max-width: auto;
        width: auto;
        margin: auto;
    }

    .plan-wrapper {
        padding: 2rem 2rem 4.5rem 2rem;
        width: auto;
    }

    .plan-wrapper .ab-sporta-tags ul {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 0;
        gap: 10px;
        justify-content: space-around;
    }

    .plan-wrapper .ab-sporta-tags ul li {
        font-size: 20px;
        text-align: left;
    }

    .plan-wrapper .ab-sporta-tags ul li:not(:last-child)::after {
        display: none;
    }

    .graph-wrapper {
        padding: 2rem 3rem;
        width: auto;
    }

    .graph-wrapper .gp-colomns {
        justify-content: space-around;
        gap: 0.5rem;
    }

    .footer .footer-warapper .footer-links ul,
    .footer-contacts ul {
        gap: 0.5rem;
        display: grid;
    }

    #hero-carousel .owl-nav .owl-prev,
    #hero-carousel .owl-nav .owl-next {
        display: none;
    }

    .service-section .service-grid {
        display: grid;
        grid-template-columns: auto;
    }

    .service-section .service-grid .service-box {
        width: 100%;
        margin-bottom: 2rem;
    }

    .service-section .service-grid .service-box:last-child {
        margin-bottom: 0 !important;
    }

    .prices-section .price-grid .price-box {
        margin-bottom: 10px;
    }

    .price-grid {
        width: 92%;
    }

    .hero-service-section {
        height: auto;
        border-radius: 0;
        margin: 0;
    }

    .product-ban-cont h3 {
        font-size: 2rem;
    }

    .product-ban-cont img {
        width: 300px;
    }

    .hero-section {
        margin: 0;
        border-radius: 0;
    }

    .hero-section .hero-wrapper .image-container {
        font-size: 2.5rem;
    }

    .image-visible img {
        width: 140px;
        border-radius: 1rem;
    }

    .offer-wrapper .offer-box {
        margin-bottom: 10px;
    }

    .hero-section .hero-wrapper {
        padding: 3rem 0rem;
    }

    .logo img {
        height: 58px;
    }

    .nav-menu .nav {
        display: none;
    }

    .line-bar {
        position: absolute;
        right: 5px;
        top: 4px
    }

    .line-bar .bar-icon {
        display: block;
        width: 20px;
        height: 3px;
        background-color: white;
        margin: 3px 5px;
        cursor: pointer;
    }

    .line-bar .bar-icon:nth-child(2) {
        background-color: var(--digitalGreen);
    }

    .mobile-nav-menu .mobile-nav li {
        padding: 20px;
    }

    .mobile-nav-menu .mobile-nav li a {
        font-size: 18px;
        font-weight: var(--fontWeightSix);
        color: #000;
    }

    .mobile-nav-menu .mobile-nav li a.active {
        color: var(--digitalGreen);
    }

    .product-ban-cont {
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 778px) {
    .product-ban-cont img {
        width: 70%;
    }
}

@media only screen and (max-width: 576px) {
    .hero-section .hero-wrapper .image-container {
        font-size: 1.7rem;
    }

    .product-ban-cont img {
        width: 70%;
    }

    .image-visible img {
        width: 120px;
        border-radius: 1rem;
    }
}

@media only screen and (max-width: 360px) {
    .hero-section .hero-wrapper .image-container {
        font-size: 1.3rem;
    }

}